html, body {
  font-family: "Manrope", "Arial", sans-serif;
  color: $brown-brand-color;
  letter-spacing: 0.2px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 2.34px;
  font-family: "RobotoSlab", serif;
  text-transform: uppercase;
  font-weight: 700;
  color: $brown-secondary-brand-color;

  &.dark-bg {
    color: $light-font-color;
  }
}

.section-title-divider {
  height: 4px;
  width: 70px;
  background-color: $green-secondary-brand-color;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.social-btn {
  width: 60px;
  height: 60px;
  background-color: $green-brand-color;
  padding: 17px;
  cursor: pointer;
}