#footer {

  .map {
    height: 420px;
  }

  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .top-footer-block {
    background-color: $green-secondary-brand-color;
    padding: 30px 0;
    color: $light-bg-color;

    .footer-block {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 15px 0;

      img {
        position: relative;
      }
    }
  }

  .bottom-footer-block {
    padding: 30px 0 60px;
    background-color: $brown-secondary-brand-color;
    color: $green-brand-color;

    .flex-row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      >div {
        padding: 20px 0;
      }

      .text {
        margin-right: 30px;
      }
    }

    .social-btn {
      margin: 0 12px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1199.98px) {
    .footer-row {
      justify-content: flex-start;

      .footer-block {
        margin: 0 15px;
        flex-basis: 300px;
      }
    }

    .logo-container {
      width: 220px
    }
  }

  @media (max-width: 991.98px) {
    .bottom-footer-block {
      .flex-row {
        justify-content: center;
      }
    }

  }

  @media (max-width: 575.98px) {
    .footer-row {
      justify-content: flex-start;
    }

    .socials {
      flex-wrap: wrap;
      justify-content: center;

      .text {
        text-align: center;
        margin: 0 0 15px!important;
      }
    }
  }

}