#footer {

  .map {
    height: 420px;
  }

  .top-footer-block {
    background-color: $green-secondary-brand-color;
    padding: 38px 0 35px;
    color: $light-bg-color;

    .footer-block {
      display: flex;
      align-items: flex-start;
      height: 100%;
      padding: 15px 0;

      img {
        position: relative;
      }
    }
  }

  .bottom-footer-block {
    padding: 57px 0 94px;
    background-color: $brown-secondary-brand-color;
    color: $green-brand-color;

    .flex-row {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 991.98px) {
    .top-footer-block {
      .footer-block {
        justify-content: center!important;
        align-items: center;

      }
    }
  }

}