.form-control {
  padding: 21px 25px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: $brown-brand-color;
  line-height: 16px;
  background-color: #fff!important;
  width: 100%;
  position: relative!important;

  &::-webkit-input-placeholder {
    color: $green-brand-color;
  }

  &::-moz-placeholder {
    color: $green-brand-color;
  }


}

.form-control.wpforms-field {
  padding: 0!important;
  height: 60px;

  input {
    height: 60px!important;
    padding: 21px 25px!important;
    border: none!important;
    font-size: 18px!important;
    letter-spacing: 0.4px!important;
    color: $brown-brand-color!important;
    line-height: 16px!important;
    background-color: #fff!important;
    max-width: 100%!important;
    width: 100%!important;
    position: relative;
    border-radius: 0!important;


    &::-webkit-input-placeholder {
      color: $green-brand-color!important;
    }

    &::-moz-placeholder {
      color: $green-brand-color!important;
    }

    &:focus {
      outline: 2px solid $green-secondary-brand-color;
      outline-offset: -2px;
    }
  }

  .wpforms-error {
    position: absolute;
  }
}

.krona-form {
  background-color: $green-brand-color;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  position: absolute;
  top: 66px;
  color: #fff!important;
}