.form-control {
  padding: 21px 25px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: $brown-brand-color;
  line-height: 16px;
  background-color: #fff!important;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $green-brand-color;
  }

  &::-moz-placeholder {
    color: $green-brand-color;
  }


}