#header {
  position: relative;
  z-index: 5;
  height: 170px;
  box-shadow: 0 2px 5px 0 rgba(59, 57, 49, 0.2);

  .pre-header {
    height: 50px;
    background-color: $green-brand-color;
  }

  .main-header {
    position: relative;
    background-color: $light-bg-color;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    height: 120px;

    &.pinned {
      z-index: 1000;
      position: fixed;
      width: 100%;
      top: 0;
      height: 70px;
      box-shadow: 0 2px 5px 0 rgba(59, 57, 49, 0.2);

      background-color: #fff;

      >.container {
        height: 70px;
      }

      .logo {
        width: 117px
      }

      .email {
        display: none;
      }

      .header-contacts {
        height: 70px;
        padding-bottom: 0;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        .phone {
          padding-top: 9px;

          a {
            font-size: 16px;
            letter-spacing: -0.3px;
          }

          img {
            top: -2px;
            height: 25px;
          }
        }
      }

      .email-btn {
        display: flex!important;
        margin-left: 18px;

        &:hover {
          background-color: $light-bg-color;
          color: $green-brand-color;
          box-shadow: 0 10px 25px 0 rgba(177, 136, 87, 0.2);
        }
      }

      .header-left-part {
        padding-right: 20px;
      }

      .header-right-part {
        padding-left: 35px;
      }
    }

    >.container {
      height: 120px;
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .logo {
      width: 195px;
    }

    .header-left-part {
      padding-right: 50px;
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-right-part {
      padding-left: 65px;
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .main-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .menu-item {
        margin-right: 15px;
        font-weight: 700;
        a {
          color: $brown-brand-color;
          text-decoration: none;
          letter-spacing: 0.24px;
        }

        &:hover {
          a {
            color: $green-secondary-brand-color
          }
        }
      }
    }

    .header-contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 120px;
      padding-bottom: 25px;

      .phone {
        display: flex;
        margin-bottom: 2px;

        img {
          position: relative;
          top: 2px;
          height: 25px;
          margin-right: 10px;
        }
        a {
          white-space: nowrap;
          color: $brown-brand-color;
          text-decoration: none;
          font-weight: 700;
          font-size: 24px;
          letter-spacing: -0.48px;
          transition: color 0.2s linear;
        }
      }

      .email {
        text-align: right;
        a {
          color: $green-brand-color;
          text-decoration: none;
          font-weight: 700;
          &:hover {
            color: $green-secondary-brand-color;
          }
        }
      }

      .email-btn {
        width: 70px;
        height: 70px;
        background-color: $button-bg-color;
        display: none;
      }

      .call-btn {
        height: 70px;
        display: none;

        &:hover {
          background-color: #378467;
        }
      }
    }
  }

  .mobile-menu-btn {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: none;
  }

  #main-mobile-menu {
    position: absolute;
    top: 70px;
    background-color: #fff;
    z-index: 1000;
    padding: 5px 0 15px;
    display: none;
    box-shadow: 0 2px 5px 0 rgba(59, 57, 49, 0.2);

    .menu-item {
      padding: 13px 28px;
      a {
        color:$brown-secondary-brand-color;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: $green-secondary-brand-color;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  @media (max-width: 1199.98px) {
    height: 150px;

    .main-header {
      height: 100px;

      >.container {
        height: 100px;
      }

      .logo {
        width: 160px;
      }

      .header-contacts {
        height: 100px;
        padding-bottom: 16px;
      }

      .header-left-part {
        padding-right: 20px;
      }

      .header-right-part {
        padding-left: 35px;
      }
    }

  }

  @media (max-width: 991.98px) {
    height: 100px;

    .pre-header {
      height: 40px;
    }

    .main-header {
      height: 70px;

      >.container {
        max-width: 100%;
        height: 70px;
        padding: 0;
      }

      .logo {
        width: 117px;
      }

      .header-contacts {
        height: 100%;
        padding-bottom: 10px;
      }

      .header-left-part {
        padding-right: 20px;
      }

      .header-right-part {
        padding-left: 35px;
        display: flex;
        justify-content: flex-end;
      }

      .main-menu {
        display: none;
      }

      .header-contacts {
        height: 70px;
        padding-bottom: 0;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        .phone, .email {
          display: none;
        }

        .email-btn {
          display: flex!important;
        }

        .call-btn {
          display: flex;

          img {
            margin-right: 10px;
            top: -2px;
          }
        }
      }


    }

    .mobile-menu-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 767.98px) {
    .call-btn {
      .text {
        display: none;
      }

      svg {
        margin-right: 0!important;
      }
    }

    .main-header {
      .logo {
        width: 95px;
      }

      >.container {
        padding: 0;
      }

      .header-left-part {
        padding-right: 10px;
        width: 35%;
      }

      .header-right-part {
        padding-left: 25px;
        width: 35%;
      }

      .krona-btn {
        img {
          height: 16px;
        }

        svg {
          height: 16px;
        }
      }

      .email-btn {
        width: auto!important;
      }

      .header-contacts {
        .call-btn {
          img {
            margin-right: 0;
            top: 0;
          }
        }
      }

    }

    &.pinned {
      .main-header {
        .logo {
          width: 95px;
        }

        .header-left-part {
          padding-right: 10px;
          width: 35%;
        }

        .header-right-part {
          padding-left: 25px;
          width: 35%;
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    height: 90px;

    .pre-header {
      height: 30px;
    }

    .main-header {
      .header-contacts {
        .email-btn, .call-btn {
          padding: 10px 15px;
        }
      }

      &.pinned {
        .main-header {
          .logo {
            width: 95px;
          }

          .header-left-part {
            padding-right: 5px;
            width: 30%;
          }

          .header-right-part {
            padding-left: 20px;
            width: 30%;
          }
        }
      }
    }
  }
}