#price-page {
  padding: 55px 0 70px 0;
}

.table-container {
  margin-bottom: 50px;
  padding: 20px 67px;
  background-color: #fff;

  .tablepress {
    background-color: #fff;

    td, th {
      padding: 26px;
    }

    thead {
      th {
        background-color: #fff;
        font-size: 18px;
        font-weight: 400;
        color: $green-brand-color;
        border-bottom: 2px solid #f9f8eb;
      }
    }

    tbody {
      td {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 2px solid #f9f8eb;
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }

  }
}

.price-table {
  display: none;

  &.show {
    display: block;
  }
}

.table-title {
  font-family: "RobotoSlab", serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  color: $green-brand-color;
  margin-bottom: 32px;
  text-align: center;
}

.price-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 25px;

  .menu-item {
    margin: 0 15px 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: $green-brand-color;
    padding: 22px 30px 19px;
    border: 3px solid $green-brand-color;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;

    &.active {
      color: #fff;
      background-color: $green-brand-color;
    }
  }
}

@media (max-width: 1199.98px) {

  .price-menu {
    .menu-item {
      margin: 0 10px 20px;
      font-size: 16px;
      line-height: 20px;
      padding: 15px 25px;
    }
  }

  .table-container {
    margin-bottom: 40px;
    padding: 15px 47px;

    .tablepress {

      td, th {
        padding: 20px;
      }

      tbody {
        td {
          font-size: 22px;
          font-weight: 600;
        }
      }

    }
  }
}

@media (max-width: 991.98px) {
  .table-container {
    margin-bottom: 40px;
    padding: 15px 47px;

    .tablepress {

      td, th {
        padding: 24px;
      }

      tbody {
        td {
          font-size: 18px;
          font-weight: 600;
        }
      }

    }
  }

  .table-title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin-bottom: 24px;
  }

}

@media (max-width: 767.98px) {
  #price-page {
    padding-top: 30px;
  }
  .price-menu {
    .menu-item {
      margin: 0 7px 14px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 15px;
    }
  }

  .table-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-bottom: 24px;
  }

  .table-container {
    margin-bottom: 30px;
    padding: 5px 15px;

    .tablepress {

      td, th {
        padding: 20px;
      }

      tbody {
        td {
          font-size: 16px;
          font-weight: 600;
        }
      }

    }
  }
}

@media (max-width: 575.98px) {
  .container.no-pdng {
    padding: 0;
  }
  .price-menu {
    .menu-item {
      margin: 0 3px 7px;
      font-size: 12px;
      line-height: 16px;
      padding: 5px 8px;
      border: 2px solid $green-brand-color;
    }
  }

  .table-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .table-container {
    margin-bottom: 30px;
    padding: 5px;

    .tablepress {

      thead {
        th {
          font-size: 14px;
        }
      }

      td, th {
        padding: 10px 5px;
      }

      tbody {
        td {
          font-size: 12px;
          font-weight: 400;
        }
      }

    }
  }


}